input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.top-bar {
    margin: 0;
    width: 100%;
    height: 65px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    background: url("../img/Untitled-1.gif") right 40px top -120px,
    linear-gradient(to left, #76b852, #8DC26F);
    background-size: 50%, cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

.welcome-bar {
    width: 100%;
    height: 75%;
    font-family: 'Julius Sans One', sans-serif;
    color:#53594a;
    font-size: 40px;
    background: url("../img/Untitled-1.gif") 150px top,
    linear-gradient(to left, #76b852, #8DC26F);
    background-size: 90%, cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

.nav-bar {
    margin-top: 40px;
    float: left;
    text-align: left;
    clear: both;
    
}

.search-icon, .upload-icon, .myuploads-icon, .recentuploads-icon, .help-icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    margin: auto;

}

/*.search-icon {
    background-image: url("../img/search.png");
}

.upload-icon {
    background-image: url("../img/add-3.png");
}

.myuploads-icon {
    background-image: url("../img/folder-14.png");
}

.recentuploads-icon {
    background-image: url("../img/clock.png");
}

.help-icon {
    background-image: url("../img/info.png");
}*/

.nav-bar ul {
    list-style: none;
    padding-left: 0px;
}

.nav-bar > ul > li {
    font-family: 'Comfortaa', cursive;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#search {
    background-color: #BBDEC6;
}

#upload {
    background-color: #859E8D;
}

#my-uploads {
    background-color: #455249;
}

#recent-uploads {
    background-color: #505F54;
}

#help {
    background-color: #303832;
}

.nav-bar > ul > li:hover {
    cursor: pointer;
}

.recent {
    font-family: 'News Cycle', sans-serif;
    display: inline-block;
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
}

.recent-view {
    font-size: 28px;
    text-indent: 20px;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.search-bar {
    margin: 50px 50px 0 0;
}

.search-form {
    margin-top: 100px;
}

.trans-search {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.js-first-search-button {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FF6766;
}

.js-first-search-button:hover {
    cursor: pointer;
    background-color: #DF6766;
    
}

#searchterm {
    font-family: 'News Cycle', sans-serif;
    border: 2px solid lightgray;
    border-radius: 20px;
	font-size: 18px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.upload-box-bg, .help-box-wrapper{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 76, 77, 0.57);
    text-align: center; 
}

.upload-box {
    font-weight: bolder;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: calc(50% - 170px);
    left: calc(50% - 150px);
    height: 380px;
    width: 300px;
    box-shadow: 5px 5px 30px 2px;
    background-color: rgb(240, 240, 240);
}

#wordFile {
    margin-top: 30px;
    width: 100%;
}

#upload-box-form > label {
    font-size: 17px;
    font-weight: initial;
}

#upload-box-form > input {
    border-radius: 4px;
    border: none;
    background-color: darkgray;
    box-shadow: 1px 1px 3px inset;
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
}

#upload-box-form {
    font-family: 'News Cycle', sans-serif;
}

#upload-box-form > #submit-upload {
    border-radius: 10px;
    font-size: 18px;
    background-color: #FF6766;
    box-shadow: none;
    text-align: center;
    margin-top: 60px;
}

#upload-box-form > #submit-upload:hover {
    cursor: pointer;
    background-color: #BF6766;
}

#cancel-upload {
    margin-top: 40px;
    font-size: 13px;
}

#cancel-upload:hover {
    color: blue;
   font-style: italic;
   cursor: pointer;
}

.help-box {
    position: relative;
    top: calc(50% - 50px);
    left: calc(50% - 110px);
    height: 200px;
    width: 220px;
    background-color: white;
}

form {
    position: relative;
    top: 20px;
    font-family: "Roboto", sans-serif;
}

.signup-box input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.new-signup-box input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.signup-box button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.new-signup-box button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.signup-box button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.nav-bar > ul {
    margin: 0;
    padding: 0;
}

.sign-up-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.new-signup-box {
    position: absolute;
    top: 200px;
    left: calc(50% - 100px);
    border: 2px solid black;
    height: 240px;
    width: 200px;
}

.signup-box, .new-signup-box {
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 40%;
    left: calc(50% - 150px);
    height: 240px;
    width: 300px;
    padding:20px;
    border-radius: 1px;
}

.sign-in-button, .new-sign-in-button {
    margin-top: 30px;
}

.sign-up {
    position: relative;
    top: 30px;
    text-align: center;
}

.sign-up:hover {
    cursor: pointer;
}

.logged-in {
    text-align: right;
    margin-bottom: 20px;
    font-size: 15px;
    bottom: 21px;
    right: 50px;
    position: relative;
}


div[class^="search-results-box"] {
  opacity: 0;
  box-shadow: 1px 1px 10px;
  margin: 20px;
  background-color: white;  
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Tinos', serif;
  width: 100%;
  height: 75px;
  border-radius: 2px;
}

#first-word {
  font-weight: bold;
}

.info{
  text-indent: -0;
  float: left;
  padding: 5px;
  display: inline-block;
  height: 100%;
  width: 30%;

}

.snippet {
  padding: 5px;
  float: left;
  display: inline-block;
  width: 45%;
  height: 100%;
}

.download-doc {
  display: inline-block;
  width: 20%;
  height: 100%;
  float: right;
  text-align: center;
  font-weight: bold;
}

.download-icon {
  margin: 20px auto;
  height: 60px;
  width: 60px;
  background-image: url("../img/file.png");
}

.download-icon, .download-doc {
    cursor: pointer;
}

body {
    background:linear-gradient(to right, #F6F7F2, #E0E4CC);
}