/*Global CSS*/

#searchterm:focus {
    outline: none;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(to right, #F6F7F2, #E0E4CC);
    overflow: scroll;
}

.hidden {
    display: none;
}

/*inital sign-in and sign-up boxes*/

.signin-box button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.signin-box,
.new-signup-box {
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 34%;
    left: calc(50% - 150px);
    height: 240px;
    width: 300px;
    padding: 20px;
    border-radius: 3px;
}

.signin-box input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.signin-box button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.new-signup-box input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.new-signup-box button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.sign-up-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    text-align: center;
}

.sign-in-button,
.new-sign-in-button {
    margin-top: 30px;
}

.sign-up {
    color: blue;
    position: relative;
    top: 40px;
    text-align: center;
}

.sign-up:hover {
    cursor: pointer;
    text-decoration: underline;
}

.example-popup {
    font-family: 'Comfortaa', cursive;
    background-color: #eff4b0;
    margin-top: 20px;
    padding: 20px;
}

/*Sign up page background*/

#wave {
    position: absolute;
    background: #e0efe3;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    z-index: -1;
}

#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 180px;
    background-color: #e0ece0;
    right: 20%;
    top: 40px;
}

#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
}

.incorrect {
    margin-top: 80px;
}

/*Initial page background*/

.top-bar {
    margin: 0;
    width: 100%;
    height: 65px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    background: url("../img/Untitled-1.gif") right 40px top -120px, linear-gradient(to left, #76b852, #8DC26F);
    background-size: 50%, cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

/*The "Dashboard" bar*/

.welcome-bar {
    width: 100%;
    height: 100%;
    font-family: 'Julius Sans One', sans-serif;
    color: #53594a;
    font-size: 40px;
    background: url("../img/Untitled-1.gif") 150px top, linear-gradient(to left, #76b852, #8DC26F);
    background-size: 90%, cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

/*Navigation elements*/

.nav-bar {
    margin-top: 40px;
    float: left;
    text-align: left;
    clear: both;
}

.nav-bar ul {
    list-style: none;
    padding-left: 0px;
}

.nav-bar>ul>li {
    font-family: 'Comfortaa', cursive;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-bar>ul>li:hover {
  animation: colorchange .4s ease-out;
  animation-fill-mode: forwards;
}

@keyframes colorchange {
  100% {
    background-color: #FF4136;
  }
}

#search {
    background-color: #BBDEC6;
}

#upload {
    background-color: #859E8D;
}

#my-uploads {
    background-color: #455249;
}

#recent-uploads {
    background-color: #505F54;
}

#help {
    background-color: #303832;
}

.nav-bar>ul>li:hover {
    cursor: pointer;
}

.nav-bar>ul {
    margin: 0;
    padding: 0;
}

.recent {
    font-family: 'News Cycle', sans-serif;
    display: inline-block;
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
}

.recent-view {
    font-size: 28px;
    text-indent: 20px;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}

/*Search elements*/

.search-bar {
    margin: 50px 50px 0 0;
}

.search-form {
    margin-top: 100px;
}

.trans-search {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.js-first-search-button {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FF6766;
}

.js-first-search-button:hover {
    cursor: pointer;
    background-color: #DF6766;
}

#searchterm {
    font-family: 'News Cycle', sans-serif;
    border: 2px solid lightgray;
    border-radius: 20px;
    font-size: 18px;
    margin-left: 35%;
    margin-bottom: 10px;
}

/*Upload and update boxes*/

.submission-box-wrapper,
.help-box-wrapper {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 76, 77, 0.57);
    text-align: center;
}

.submission-box,
.help-box {
    font-weight: bolder;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: calc(50% - 170px);
    left: calc(50% - 150px);
    height: 380px;
    width: 300px;
    box-shadow: 5px 5px 30px 2px;
    background-color: rgb(240, 240, 240);
}

.help-box {
    line-height: 30px;
}

#wordFile {
    margin-top: 30px;
    width: 100%;
}

#submission-box-form>label {
    font-size: 17px;
    font-weight: initial;
}

#submission-box-form>input {
    border-radius: 4px;
    border: none;
    background-color: darkgray;
    box-shadow: 1px 1px 3px inset;
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
}

#submission-box-form {
    font-family: 'News Cycle', sans-serif;
}

#submission-box-form>#submit-upload {
    border-radius: 10px;
    font-size: 18px;
    background-color: #FF6766;
    box-shadow: none;
    text-align: center;
    margin-top: 60px;
}

#submission-box-form>#submit-upload:hover {
    cursor: pointer;
    background-color: #BF6766;
}

#cancel-upload {
    margin-top: 40px;
    font-size: 13px;
}

#cancel-upload:hover {
    color: blue;
    font-style: italic;
    cursor: pointer;
}

form {
    position: relative;
    top: 20px;
    font-family: "Roboto", sans-serif;
}

/*Hidden ID to send with AJAX request required for server endpoint*/

#id-for-update {
    display: none;
}



/*Who is logged in*/

.logged-in {
    text-align: right;
    margin-bottom: 20px;
    font-size: 15px;
    bottom: 21px;
    right: 50px;
    position: relative;
}

/*Results box for every presentation of results*/

div[class^="search-results-box"] {
    position: relative;
    opacity: 0;
    box-shadow: 1px 1px 10px;
    margin: 20px;
    background-color: white;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Tinos', serif;
    width: 100%;
    height: 75px;
    border-radius: 3px;
}

#first-word {
    font-weight: bold;
}

.info {
    text-indent: -0;
    float: left;
    padding: 5px;
    display: inline-block;
    height: 100%;
    width: 30%;
}

.snippet {
    position: relative;
    padding: 5px;
    float: left;
    display: inline-block;
    width: 45%;
    height: 100%;
}

.download-doc {
    display: inline-block;
    width: 20%;
    height: 100%;
    float: right;
    text-align: center;
    font-weight: bold;
}

.download-icon {
    margin: 20px auto;
    height: 60px;
    width: 60px;
    background-image: url("../img/file.png");
}

.download-icon {
    cursor: pointer;
}

/*Admin functions box extension*/

[class^=admin] {
    position: absolute;
    bottom: 5px;
    font-weight: bolder;
    background-color:whitesmoke;
    width: 100px;
    text-align: center;
    color: #FF6766;
    border-radius: 5px;
    left: calc(50% - 50px);
    box-shadow: 0px 2px 6px black inset;
}

[class^=admin]:hover {
    cursor: pointer;
    background-color: #505F54
}

.delete {
    left: 20%;
}

.update {
    right: 20%;
}

.delete,
.update {
    font: inherit;
    font-weight: bolder;
    position: absolute;
    bottom: 40px;
    height: 90px;
    width: 90px;
    text-align: center;
}

.delete:hover,
.update:hover {
    cursor: pointer;
}

.delete-icon {
    background-image: url("../img/garbage.png");
}

.update-icon {
    background-image: url("../img/add-3.png");
}

.update-icon,
.delete-icon {
    margin: 15px auto;
    height: 60px;
    width: 60px;
    background-size: cover;
}


.warn-delete {
    height: 100px;
    width: 200px;
    padding: auto;
}



