.top-bar {
    margin: 0;
    width: 100%;
    height: 65px;
    background-color: blue;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
}

.nav-bar {
    margin-top: 200px;
    list-style: none;
    float: left;
    text-align: left;
    clear: both;
}

.nav-bar > li {
    margin-bottom: 20px;
    border: 1px solid black;

}

.nav-bar > li:hover {
    cursor: pointer;
}

.recent {
    display: inline-block;
    width: 60%;
    margin-top: 100px;
    margin-left: 10px;
    background-color: gray;
}

.hidden {
    display: none;
}

.search-bar {
    margin-top: 50px;
}

.upload-box-bg, .help-box-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 76, 77, 0.57);
    text-align: center;
}

.upload-box {
    position: relative;
    top: calc(50% - 50px);
    left: calc(50% - 110px);
    height: 100px;
    width: 220px;
    background-color: white;
}

.help-box {
    position: relative;
    top: calc(50% - 50px);
    left: calc(50% - 110px);
    height: 200px;
    width: 220px;
    background-color: white;
}

form {
    position: relative;
    top: 20px;
}

.sign-up-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.signup-box, .new-signup-box {
    position: absolute;
    top: 200px;
    left: calc(50% - 100px);
    border: 2px solid black;
    height: 160px;
    width: 200px;
}

.sign-in-button, .new-sign-in-button {
    margin-top: 30px;
}

.sign-up {
    position: relative;
    top: 40px;
    text-align: center;
}

.sign-up:hover {
    cursor: pointer;
}

.logged-in {
    text-align: right;
    margin-bottom: 20px;
    font-size: 15px;
    bottom: 21px;
    right: 50px;
    position: relative;
}